<div class="container mt-4">
    <div class="d-flex justify-content-between">
        <h2 class="mb-3">Lista de Estudiantes pendientes por aprobación</h2>
        <div>
            <button class="btn btn-primary me-2" (click)="approve()">Ir a lista</button>
            <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>ID de Estudiante</th>
                <th>Departamento</th>
                <th>Aprobado</th>
            </tr>
        </thead>
        <tbody>
            @for (student of students; track student.studentId) {
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.studentId }}</td>
                <td>{{ student.department }}</td>
                <td>
                    <input type="checkbox" [checked]="student.acepted == 'Si'" (change)="onApprovalChange(student, $event)" />
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>