<div class="container mt-4">
    <button class="btn btn-danger float-end" (click)="logout()">Cerrar sesión</button>
    <h2>Inscribir Estudiante</h2>
    <form [formGroup]="studentForm">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="name"
          placeholder="Ingresa el nombre"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Ingresa el correo"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="Ingresa la contraseña"
        />
      </div>
      <div class="mb-3">
        <label for="studentId" class="form-label">ID de Estudiante</label>
        <input
          type="text"
          id="studentId"
          class="form-control"
          formControlName="studentId"
          placeholder="Ingresa el ID del estudiante"
        />
      </div>
      <div class="mb-3">
        <label for="department" class="form-label">Departamento</label>
        <input
          type="text"
          id="department"
          class="form-control"
          formControlName="department"
          placeholder="Ingresa el departamento"
        />
      </div>
      <div class="mb-3">
        <label for="role" class="form-label">Rol</label>
        <select id="role" class="form-select" formControlName="role">
          <option value="">Selecciona el rol</option>
          <option value="estudiante">Estudiante</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!studentForm.valid" (click)="onSubmit()">
        Registrar
      </button>
    </form>
</div>
